<div class="chart-container">
  <div class="chart-header">
    <h3 class="chart-title">Doanh thu theo thời gian</h3>
    <mat-button-toggle-group [value]="chartType()" (change)="toggleChartType($event.value)">
      <mat-button-toggle value="bar">Cột</mat-button-toggle>
      <mat-button-toggle value="line">Đường</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="chart-wrapper">
    <canvas
      baseChart
      [data]="chartData"
      [options]="chartOptions"
      [type]="chartType()"
    ></canvas>
  </div>
</div>
